.add-project button {
  background-color: #007a8a;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  margin: 12px;
}
.add-project span {
  background-color: white;
  border-radius: 50%;
  font-size: 1rem;
  padding: 2px 6px;
  margin-right: 10px;
  color: #007a8a;
  font-weight: bold;
}
.projects {
  margin: 30px 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(235, 233, 233);
}
.project-name {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  box-shadow: 1px 1px 1px 1px rgb(235, 233, 233);
  margin-bottom: 10px;

  /* padding-right: 20px; */
}
.project-details p {
  display: inline-block;
  margin-right: 20px;
}
.project-details button {
  color: #007a8a;
  border: 1px solid #007a8a;
  background-color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}
