.live-header {
  background-color: #479edb;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 8px;
}
.live-header button {
  /* color: white; */
}
.live-question {
  background-image: linear-gradient(
    rgba(18, 90, 184, 0.1),
    rgba(71, 158, 219, 1)
  );
}
