.remark-button i {
  color: #fff;
  background-image: linear-gradient(180deg, #007a8a 0%, #71b6bf 100%);
  border-radius: 50px;
  padding: 7px;
  margin-right: 10px;
}
.dark {
  background-image: linear-gradient(
    rgba(166, 168, 179, 0.9),
    rgba(135, 135, 135, 0.8)
  ) !important;
}
.reload {
  padding: 8px;
  background-color: #14a51f;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  color: white;
}
.archeived-quesiton-panel {
  min-height: 100vh;
}
