.sidebar {
  min-height: 80vh;
  background-color: white;
  width: 22vw;
  margin-top: 30px;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgb(235, 233, 233);
}
.top img {
  width: 40px;
  height: 40px;
}
.top {
  display: flex;
}
.toolname {
  margin-left: 10px;
}
.tool {
  font-size: 12px;
}
